.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    background: tomato;
}

.container{
    display: flex;
}

.main{
    background: pink;
    width: 70%;
}

.side{
    background: orange;
    width: 30%;
}

footer{
    background: cyan;
}